@charset "UTF-8";
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

html {
  font-size: 10px;
}

@media (max-width: 700px) {
  html {
    font-size: calc(10px * (7 / 8));
  }
}

@media (max-width: 600px) {
  html {
    font-size: calc(10px * (6 / 8));
  }
}

@media (max-width: 500px) {
  html {
    font-size: calc(10px * (5 / 8));
  }
}

body {
  font-family: 'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.about-us > main > .key-visual {
  margin: 0 auto 9rem;
  padding: 0 12rem;
}

.about-us > main > .key-visual > .key-visual-wrapper {
  max-width: 168rem;
  max-height: 100rem;
  position: relative;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2 {
  background-color: #fff;
  max-width: 81rem;
  font-size: 6.4rem;
  font-weight: bold;
  padding: 0.6rem 11rem 0.7rem;
  line-height: 1.4;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  vertical-align: center;
  color: #333;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2 > span {
  display: block;
  text-align: right;
  padding-left: 7rem;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #44768c;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: -3;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2::after {
  display: block;
  content: "";
  max-width: 59rem;
  height: 0.4rem;
  background-color: #f3e42b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.about-us > main > .key-visual > .key-visual-wrapper > img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -5;
}

.about-us > main > .philosophy {
  max-width: 192rem;
  max-height: 83rem;
  background: url(/step/img/about-us-pc/step.jpg) no-repeat center center/cover;
  margin: 0 auto 7.1rem;
  padding: 4.2rem 12rem 4.9rem;
}

.about-us > main > .philosophy > h3 {
  font-size: 10rem;
  color: #333;
  font-weight: bold;
}

.about-us > main > .philosophy > ul > li {
  font-size: 3.2rem;
  font-weight: bold;
  color: #333;
}

.about-us > main > .philosophy > ul > li:first-of-type {
  padding: 0 0 17.3rem 9rem;
}

.about-us > main > .philosophy > ul > li:nth-of-type(2) {
  padding: 0 0 17.3rem 23rem;
}

.about-us > main > .philosophy > ul > li:last-of-type {
  padding-left: 45rem;
}

.about-us > main > .philosophy > ul > li:nth-of-type(2-n) {
  margin-bottom: 17.3rem;
}
