@charset "UTF-8";
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

html {
  font-size: 10px;
}

@media (max-width: 1760px) {
  html {
    font-size: calc(10px * (176 / 192));
  }
}

@media (max-width: 1520px) {
  html {
    font-size: calc(10px * (152 / 192));
  }
}

@media (max-width: 1280px) {
  html {
    font-size: calc(10px * (128 / 192));
  }
}

@media (max-width: 1040px) {
  html {
    font-size: calc(10px * (104 / 192));
  }
}

@media (max-width: 700px) {
  html {
    font-size: calc(10px * (7 / 8));
  }
}

@media (max-width: 600px) {
  html {
    font-size: calc(10px * (6 / 8));
  }
}

@media (max-width: 500px) {
  html {
    font-size: calc(10px * (5 / 8));
  }
}

body {
  font-family: 'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

.about-us > main > .key-visual {
  margin: 0 auto 9rem;
  padding: 0 12rem;
}

.about-us > main > .key-visual > .key-visual-wrapper {
  max-width: 168rem;
  max-height: 100rem;
  position: relative;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2 {
  background-color: #fff;
  max-width: 81rem;
  font-size: 6.4rem;
  font-weight: bold;
  padding: 0.6rem 11rem 0.7rem;
  line-height: 1.4;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  vertical-align: center;
  color: #333;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2 > span {
  display: block;
  text-align: right;
  padding-left: 7rem;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #44768c;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  z-index: -3;
}

.about-us > main > .key-visual > .key-visual-wrapper > h2::after {
  display: block;
  content: "";
  max-width: 59rem;
  height: 0.4rem;
  background-color: #f3e42b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.about-us > main > .key-visual > .key-visual-wrapper > img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -5;
}

.about-us > main > .philosophy {
  max-width: 192rem;
  max-height: 83rem;
  background: url(/step/img/about-us-pc/step.jpg) no-repeat center center/cover;
  margin: 0 auto 7.1rem;
  padding: 4.2rem 12rem 4.9rem;
}

.about-us > main > .philosophy > h3 {
  font-size: 10rem;
  color: #333;
  font-weight: bold;
}

.about-us > main > .philosophy > ul > li {
  font-size: 3.2rem;
  font-weight: bold;
  color: #333;
}

.about-us > main > .philosophy > ul > li:first-of-type {
  padding: 0 0 17.3rem 9rem;
}

.about-us > main > .philosophy > ul > li:nth-of-type(2) {
  padding: 0 0 17.3rem 23rem;
}

.about-us > main > .philosophy > ul > li:last-of-type {
  padding-left: 45rem;
}

.about-us > main > .philosophy > ul > li:nth-of-type(2-n) {
  margin-bottom: 17.3rem;
}

.contact-page {
  padding: 0 12rem;
}

.key-visual {
  margin: 0 0 7.1rem;
  max-width: 168rem;
  max-height: 100rem;
  position: relative;
}

.key-visual > img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -2;
}

.key-visual > h2 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 1.4;
  background: #fff;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  padding: 0.9rem 3rem 0.6rem;
  color: #333;
}

.key-visual > h2::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #44768c;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: -1;
}

.key-visual > h2::after {
  content: "";
  display: block;
  width: 75rem;
  height: 4px;
  background: #f3e42b;
  position: absolute;
  bottom: 9.8rem;
  z-index: 1;
}

.key-visual > h2 > span {
  padding-left: 11.1rem;
  line-height: 1.5;
}

.price-table {
  margin-bottom: 9.5rem;
}

.price-table > h3 {
  font-size: 6.4rem;
  font-weight: bold;
  color: #44768c;
  margin-bottom: 6.5rem;
}

.price-table > h3 > span {
  display: block;
  font-size: 3.2rem;
  color: #333;
  line-height: 0.4;
}

.price-table > .table-container > table {
  border-collapse: collapse;
  position: relative;
  background: #fff;
}

.price-table > .table-container > table::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(/step/img/mizutama.gif);
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: -1;
}

.price-table > .table-container > table tr:nth-of-type(2) > td::after {
  width: 42.8rem;
  left: 32rem;
}

.price-table > .table-container > table tr:nth-of-type(3) > td::after {
  width: 55rem;
  left: 27rem;
}

.price-table > .table-container > table tr:nth-of-type(4) > td::after {
  width: 37.8rem;
  left: 34rem;
}

.price-table > .table-container > table tr:nth-of-type(5) > td::after {
  width: 38.2rem;
  left: 34rem;
}

.price-table > .table-container > table tr:nth-of-type(6) > td::after {
  width: 42.8rem;
  left: 32rem;
}

.price-table > .table-container > table tr:nth-of-type(7) > td::after {
  width: 40.3rem;
  left: 33rem;
}

.price-table > .table-container > table tr:nth-of-type(8) > td::after {
  width: 48.9rem;
  left: 29rem;
}

.price-table > .table-container > table tr:nth-of-type(9) > td::after {
  width: 18.1rem;
  left: 42rem;
}

.price-table > .table-container > table tr > th {
  width: 102.4rem;
  height: 11.2rem;
  background: #44768c;
  font-size: 5.3rem;
  color: #fff;
  font-family: sans-serif;
}

.price-table > .table-container > table tr > th + th {
  width: 65.6rem;
  background: #b9dfec;
}

.price-table > .table-container > table tr > td {
  height: 11.2rem;
  font-size: 3.7rem;
  color: #333;
  font-family: sans-serif;
  text-align: center;
  font-weight: 600;
  position: relative;
}

.price-table > .table-container > table tr > td::after {
  content: "";
  display: block;
  width: 55rem;
  height: 1px;
  background: #f3e42b;
  position: absolute;
  bottom: 2rem;
  z-index: 1;
}

.price-table > .table-container > table tr > td + td::after {
  content: "";
  display: none;
}

.contact {
  margin-bottom: 12rem;
}

.contact > h3 {
  font-size: 6.4rem;
  font-weight: bold;
  color: #44768c;
  margin-bottom: 6.5rem;
}

.contact > h3 > span {
  display: block;
  font-size: 3.2rem;
  color: #333;
  line-height: 0.4;
}

.contact .contact-container {
  margin: 0 31rem 0 34rem;
  padding: 0 3rem 3rem 0;
  background: #fff;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
}

.contact .contact-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(/step/img/mizutama.gif);
  position: absolute;
  top: 3rem;
  left: 3rem;
  z-index: -1;
}

.contact .contact-container dl dt {
  font-size: 1.4rem;
  margin-bottom: 0.7rem;
}

.contact .contact-container dl dt:nth-of-type(n+2) {
  margin-bottom: 1.1rem;
}

.contact .contact-container dl dt span {
  color: #f3e42b;
}

.contact .contact-container dl small {
  display: block;
  font-size: 1.3rem;
  color: #f3e42b;
  margin-bottom: 0.6rem;
}

.contact .contact-container dl dd {
  height: 8rem;
  border: 0.1rem solid #333;
  margin-bottom: 3.2rem;
}

.contact .contact-container dl dd:nth-of-type(n+2) {
  height: 7rem;
}

.contact .contact-container dl dd:nth-of-type(n+6) {
  height: 20rem;
}

.contact .contact-container dl dd:last-of-type {
  margin-bottom: 2.7rem;
}

.contact .contact-container dl dd input[type="text"], .contact .contact-container dl dd input[type="email"] {
  width: 100%;
  height: 6.8rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.contact .contact-container dl dd select {
  width: 100%;
  height: 7.8rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.contact .contact-container dl dd textarea {
  width: 100%;
  height: 19.8rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.contact .contact-container dl .policy {
  background: #fff;
  padding: 4rem 2rem 2rem 2rem;
  overflow-y: scroll;
  height: 20rem;
}

.contact .contact-container dl .policy h3 {
  font-size: 2.6rem;
  text-align: center;
  margin-bottom: 4rem;
}

.contact .contact-container dl .policy p {
  font-size: 1.4rem;
  text-align-last: left;
  line-height: 1.5;
  color: #333;
}

.contact .contact-container label {
  display: block;
  color: #333;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0 auto 3.2rem;
  text-align: center;
}

.contact .contact-container label [type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-right: 0.2rem;
}

.contact .contact-container .form-btn {
  position: relative;
}

.contact .contact-container .form-btn [type="submit"] {
  display: block;
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.09em;
  color: #f3e42b;
  background: #fff;
  width: 50rem;
  height: 12rem;
  margin: 0 auto;
  border: 0.2rem solid #f3e42b;
  position: relative;
  z-index: 2;
  transition: 0.4s;
}

.contact .contact-container .form-btn [type="submit"] span {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
}

.contact .contact-container .form-btn [type="submit"]:hover {
  transform: translate(-0.5rem, -0.5rem);
}

.contact .contact-container .form-btn [type="submit"]:hover ~ .button-shadow {
  transform: translate(0.5rem, 0.5rem);
}

.contact .contact-container .form-btn .button-shadow {
  width: 50rem;
  height: 12rem;
  background: #f3e42b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  transition: 0.4s;
}
