
.price-table{
  >h3{
    font-size: 6.4rem;
    font-weight: bold;
    color: $main-color;
    margin-bottom: 6.5rem;
    >span{
      display: block;
      font-size: 3.2rem;
      color: $txt-color;
      line-height: 0.4;
    }
  }
  .table-container{
    height: 100vh;
    table{
      border-collapse:collapse;
      position: relative;
      background: #fff;
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url(/step/img/mizutama.gif);
        position: absolute;
        top: 3rem;
        left: 3rem;
        z-index: -1;
      }
      tr{
        &:nth-of-type(2)>td::after{
          width: 42.8rem;
          left: 32rem;
        }
        &:nth-of-type(3)>td::after{
          width: 55rem;
          left: 27rem;
        }
        &:nth-of-type(4)>td::after{
          width: 37.8rem;
          left: 34rem;
        }
        &:nth-of-type(5)>td::after{
          width: 38.2rem;
          left: 34rem;
        }
        &:nth-of-type(6)>td::after{
          width: 42.8rem;
          left: 32rem;
        }
        &:nth-of-type(7)>td::after{
          width: 40.3rem;
          left: 33rem;
        }
        &:nth-of-type(8)>td::after{
          width: 48.9rem;
          left: 29rem;
        }
        &:nth-of-type(9)>td::after{
          width: 18.1rem;
          left: 42rem;
        }
        th{
          width: 102.4rem;
          height: 11.2rem;
          background: $main-color;
          font-size: 5.3rem;
          color: #fff;
          font-family: sans-serif;
        }
        th +th{
          width: 65.6rem;
          background: $sub-color;
        }
        td{
          height: 11.2rem;
          font-size: 3.7rem;
          color: $txt-color;
          font-family: sans-serif;
          text-align: center;
          font-weight: 600;
          position: relative;
          &::after{
            content: "";
            display: block;
            width: 55rem;
            height: 1px;
            background: $accent-color;
            position: absolute;
            bottom: 2rem;
            z-index: 1;
          }
        }
        td + td{
          // padding-right: 5rem;
          &::after{
            content: "";
            display: none;
          }
        }
      }
    }
  }
}