
.about-us{
        >.philosophy{
            max-width: 192rem;
            max-height: 83rem;
            background: url(/step/img/about-us-pc/step.jpg)no-repeat center center/cover;
            margin: 0 auto 7.1rem;
            padding: 4.2rem 12rem 4.9rem;
            >h3{
                font-size: 10rem;
                color: $txt-color;
                font-weight: bold;
                position: relative;
                &::after{
                    display: block;
                    content: "";
                    width: 53rem;
                    height: 0.5rem;
                    background-color: $accent-color;
                    position: absolute;
                    left: 0;
                    bottom: 1rem;
                }
            }
            >ul{
                >li{
                    font-size: 5rem;
                    font-weight: bold;
                    color: $txt-color;
                    &:first-of-type{
                        padding: 0 0 17.3rem 14rem;
                    }
                    &:nth-of-type(2){
                        padding: 0 0 17.3rem 42rem;
                    }
                    &:last-of-type{
                        padding-left: 80rem;
                    }
                }
            }
        }
}