
.contact-page{
  padding: 0 12rem;
  @include tab{
    padding: 0 2rem;
    padding-top: 10rem;
  }
  .key-visual{
    margin: 0 0 7.1rem;
    max-width: 168rem;
    max-height: 100rem;
    position: relative;
    @include tab{
      max-width: 76rem;
      max-height: 60rem;
    }
    >.img-pc{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -2;
      @include tab{
        display: none;
      }
    }
    >.img-sp{
      display: none;
      @include tab{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: -2;
      }
    }
    >h2{
      font-size: 6.4rem;
      font-weight: bold;
      line-height: 1.4;
      background:#fff;
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      padding: 0.9rem 3rem 0.6rem;
      color: $txt-color;
      @include tab{
        font-size: 2.4rem;
        bottom: 1.5rem;
        left: 1.5rem;
        width: 30.5rem;
        height: 10rem;
        padding: 0;
        padding: 1.2rem 1rem 0.6rem 2.9rem;

      }
      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $main-color;
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        z-index: -1;
        @include tab{
          bottom: 1.5rem;
          left: 1.5rem;
        }
      }
      &::after{
        content: "";
        display: block;
        width: 75rem;
        height: 0.4rem;
        background: $accent-color;
        position: absolute;
        bottom: 9.8rem;
        z-index: 1;
        @include tab{
          width: 26rem;
          bottom: 4.8rem;
          left: 3rem;
        }
      }
      >span{
        padding-left: 11.1rem;
        line-height: 1.5;
        @include tab{
          padding-left: 0.7rem;
          line-height: 2.5;
        }
      }
    }
  }
}