$tab: 800px; // タブレット

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

html {
  font-size: calc(100vw / 192);
  @include tab{
    font-size: calc(100vw / 80);
  }
  // background-image: url(/step/img/top-pc/top_pc.png);
    // background-image: url(/step/img/top-sp/top_tab&sp.png);
}

body{
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  // opacity: 0.3;
  overflow-x: hidden;
}

$base-color:#fff;
$main-color:#44768c;
$sub-color: #b9dfec;
$accent-color:#f3e42b;
$txt-color:#333;